.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .name{
      font-weight: bold;
  }
  .card {
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
  }